.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer {
    background-color: #76e72f;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    background-color: #b4da0f;
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    color:floralwhite;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}
body {
    padding:50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #04471a;
}
.carousel {
    background:#6ae466;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.modal-title {
    color:black;
}
.modal-body {
     color:black;
     background-color: #b8cf33;
}
.modal-header {
    background-color: #e9660f;
}
.modal-footer{
    background-color:#e21b1b;
  }

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.carousel-caption{
    color:rgb(247, 247, 247);
}
.table{
    background: rgb(79, 228, 74);
}
.card-header{
    background-color: #17b64c;
}
.card-body{
    background-color: #9df19a;
}
